.side-bar
  .user-name
    .top-items
      .name
        霧生
      .icons
        = link_to "#", class: "icons__btn icons__btn--edit" do
          = icon('fas', 'cog', class: "icons__btn--icon")
        = link_to "#", class: "icons__btn icons__btn--create" do
          = icon('fas', 'edit', class: "icons__btn--icon")
  .groups
    .groups-list
      %p.groups-name
        アイウエオグループ
      %p.groups-message
        さしすせそ
    .groups-list
      %p.groups-name
        アイウエオグループ
      %p.groups-message
        さしすせそ
    .groups-list
      %p.groups-name
        アイウエオグループ
      %p.groups-message
        さしすせそ
    .groups-list
      %p.groups-name
        アイウエオグループ
      %p.groups-message
        さしすせそ
    .groups-list
      %p.groups-name
        アイウエオグループ
      %p.groups-message
        さしすせそ
    