* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
}

  .side-bar {
    background-color: $lightnavyColor ;
    width: 300px;
  }

    .user-name {
      height: 100px;
      display: flex;
      align-items: center;
      background-color: $darknavyColor;
    }

      .top-items {
        background-color: $darknavyColor;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 20px;
        width: 260px;
        margin: auto;
        color: $whiteColor;
      }

        .name {
          position: absolute;
          font-size: 16px;
          font-weight: bold;
        }

        .icons {
          width: 60px;
          margin: 0 0 0 auto;

        &__btn {
          text-decoration: none;
          color: $whiteColor;
          float: right;
          margin-right: 5px;
          }
        }

    .groups {
      height: calc(100vh - 100px);
      background-color: $lightnavyColor;
      padding: 20px;
      box-sizing: border-box;
      overflow: auto;
    }
 
      .group {
        width: 260px;
        height: 45px;
        margin-bottom: 40px;
      }
      
        .group--name { 
          font-size: 15px;
          color: $whiteColor;
          margin-bottom: 5px;
        }

        .group--message {
          font-size: 11px;
          color: $whiteColor;
        }

  .chat-main {
    background-color: $whiteColor;
     width: calc(100vw - 300px);
  }

    .main-header {
      height: 100px;
      display: flex;
      border-bottom: 1px solid #eeeeee;
      justify-content: space-between;
      align-items: center;
    }

      .header-leftbox {
        margin: 35px 0 0 40px;
      }

        .group-name {
          color: $grayColor;
          font-size: 20px;
          margin-bottom: 15px;
        }

        .member-list {
          color: $lightgrayColor;
          font-size: 12px;
        }

      .edit-btn {
        width: 72px;
        height: 40px;
        margin: 0 40px 0 auto;
        background-color: $whiteColor;
        font-size: 16px;
        cursor: pointer;
        line-height: 40px;
        text-align: center;
        color: $skyblueColor;
        border: 1px solid $skyblueColor;
      }

    .messages {
      padding-left: 40px;
      height: calc(100vh - 190px);
      background-color: #fafafa;
      overflow: auto;
    }

        .upper-message {
          padding-top: 40px;
          display: flex;
        
          .upper-message__user-name {
            font-size: 16px;
            color: $grayColor;
            font-weight: bold;
            
          }

          .upper-message__date {
            font-size: 12px;
            color: $lightgrayColor;
            padding-left: 10px;
          }
        }

        .lower-message {
          color: #434a54;
          font-size: 14px;
          padding-top: 12px;
        }

        .form {
          height: 90px;
          background-color: #d2d2d2;
          padding: 20px 40px;
    
          form {
            display: flex;
            .input-box {
              display: flex;
              position: relative;
              width: 100%;
    
    
            &__text {
              height: 50px;
              width: 100%;
              color: #434a54;
              border-style: none;
              padding: 0 40px 0 10px;
            }
            &__image {
              position: absolute;
              top: 10px;
              right: 10px;
              cursor: pointer;
              font-size: 1.3rem;
    
              &__file {
                display: none;
              }
            }
          }
        
    
            .submit-btn {
              width: 100px;
              height: 50px;
              padding: 0 30px;
              margin-left: 15px;
              background-color: $skyblueColor;
              color: white;
              cursor: pointer;
            }
          }
        }